/* body{
    marign:0;
    padding: 0;
} */

:root {
  --font-color: #ECE7DD;
  --color-red: #CF232B;
  --color-dgray: #242423;
  --color-gray: #545454;
  --color-pale: #dad0bc;
}
body{
  background-color: var(--font-color);
}

h2, h5, h6{
  font-family: 'Caprasimo', cursive;
  margin-bottom: 15px;
  color: var(--color-gray);
}
a{
  text-decoration: none;
  color: var(--color-gray);
}
a:hover{
  text-decoration: none;
  color: var(--color-red);
}
.btn-danger{
  color: var(--font-color);
  background-color: var(--color-red);
  border-color: var(--color-red);
}
.bg-danger{
  background-color: var(--color-red) !important;
}
.bg-background{
  background-color: var(--font-color);
  border-bottom: 1px solid #fff;;
}
.container{
    height: 50px;
}
.d-flex-center{
  display: flex;
  justify-content: center;
}

.navScroll{
     position: fixed;
     width:100%;
     z-index: 100;
 }
  .sticky{
    top: 0;
    display: flex;
    justify-content: space-between;

  }

  .form-control{
    border-radius: 0;
  }

  #search-form{
    margin: 5px auto;
  }

  .search-input{
    background-color: transparent;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #fff;
  }
  .search-input:focus{
    outline: 0;
    background-color: transparent;
  }
  .offcanvas{
    background-color: var(--color-red);
  }

  /* home page */

  .home{
    /* height: 600px; */
    padding: 30px 0;
  }
  .row{
    /* margin-bottom: 30px; */
  }
  .site-title{
    margin-bottom: 20px;
  }
  .feature{
    margin: 30px 0;
  }
.circle{
  border: 1px solid #242423;
  background-color: transparent;
  color: #242423;
  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 12.5px;
  display: inline-block;
  font-size: 15px;
}
.current{
  background: #242423;
    position: relative;
    /*  */
    padding: 1em 0;
    z-index: -1;
}
.half{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: calc(50%);
  background: var(--color-red);
  z-index: 0;
}
.fa-calendar{
  text-align: center;
  border: 1px solid var(--color-red);
  background-color: transparent;
  color: var(--color-red);
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 25px;
  display: inline-block;
  font-size: 1.75em;
}
.month{
  font-size: 14px;
  position: absolute;
  margin-left: -32px;
  margin-top: 18px;
  padding: 0;
  color: var(--color-red);
}
.current span{
  font-size: 10px;
}
.most{
  z-index: 1;
}
.fa-eye, .fa-comment-dots{
  text-align: center;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 25px;
  display: inline-block;
  font-size: 1.75em;
}

.category{
  background: #242423;
  color: #fff;
  /* top: 0;
  left: 0; */
  padding: 5px 10px;
  line-height: 1em;
  position: absolute;
  font-size: 0.750em;
}

.social .fa-eye, .social .fa-comment-dots{
  border: 0 !important;
  color: var(--color-dgray);
  font-size: 20px;
}


.line {
  margin-left: -23px;
  margin-bottom: 0;
  color: #242423 !important;
}
.btn-circle-social .fa-comment-dots, .btn-circle-social .fa-eye{
  color: #242423;
  font-size: 18px;
  border: 0;
}

.btn-circle {
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-circle-fe {
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #242423;
}

.btn-circle-social {
  border-radius: 100%;
  height: 2.2rem;
  width: 2.2rem;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #242423;
}

.btn-fb{
  background-color: #2d4486;
  color:#fff;
}

.btn-tw{
  background-color: #369adb;
  color:#fff;
}

.btn-li{
  background-color: #0c63a6;
  color:#fff;
}
.social-sticky{
  position: fixed;
  top: 0;
}
.btn-reaction {
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nav-link, .footer-social a{
  color: var(--font-color);
}

#top{
  color : var(--color-red);
}
.footer-social ul{
  list-style: none;
  padding: 0;
}
.footer-social ul li{
  text-align: center !important;
  width: 10%;
  float: left;

}
.footer-social ul li a{
  display: inline-block;
  text-align: center;
  font-size: 14px;
}
.footer-social .btn-circle{
  height: 3rem;
  width: 3rem;
}
.copyright{
  margin: 50px 0 0;
  color: var(--color-red);
  text-align: center;
  font-size: 13px;
}
.contact-email{
  color: var(--font-color);
    padding: 2rem 0;
}
.contact-email span{
  font-size: 17px;
}
.opnion{
  color: var(--font-color);
  background-color: var(--color-red);
}
.single-new span, .video span{
  color: var(--color-red);
  font-size: 14px;
}
.video h3{
  color: var(--font-color);
}
.top-one{
    background: #CF232B;
    position: absolute;
    margin-top: -25px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.2em;
    color: #ECE7DD;
    border: 2px solid #ECE7DD;
    height: 50px;
    width: 50px;
    line-height: 42px;
    text-align: center;
    border-radius: 25px;
}
.top-one .fa-eye{
  text-align: center;
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 25px;
  display: inline-block;
  font-size: 1.75em;
}
.top{
  transition: 0.5s;
}
.top h2 a{
  color: var(--font-color) !important;
}

.top:hover{
  opacity: 0.9;

  .top span{
    color: #fff;
  }
}

.top-ten{
  background-color: #e0454d;
}
.top-ten .top-one{
  margin-left: 10px;
}
.ml--47{
  margin-left: -47px;
}
h6 a{
  color: #000;
}
.top-ten:hover{
  opacity: 0.9;
}


.description{
  background-color: var(--color-dgray);
  color: #fff;
}
.description p, .description span{
  color: #fff;
}
/* .cartoon{
    background-color: var(--color-dgray);
} */
.description .btn-circle, .cartoon .btn-circle {
  border: 1px solid #fff ;
  width: 2.5rem;
  height: 2.5rem;
}
.description .fa-eye, .cartoon .fa-eye{
    color: #fff;
    font-size: 16px;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 40px;
}
.cartoon .fa-eye{
    color: var(--color-dgray);
    border: 1px solid var(--color-dgray);
}
.cartoon .btn-circle {
    border: 1px solid var(--color-dgray) !important;
}
.last-photos{
  background-color: #000;
}
.last-photos h2{
  color: var(--color-gray);
}
.latest-photos{
  background-color: var(--color-dgray);
}

.video-page{
  background-color: var(--color-dgray);
}
.video-page h2 a{
  color: var(--color-red);
}
.video-page h2 a:hover{
  color: var(--color-gray);
}
.video-page p, .video-page span{
  color: var(--font-color);
}
.full-details row{
  width: auto;
}
.full-details ol, ul{
    line-height: 15px;
}
.careers-title, .contact-title, .cartoons-title {
  padding: 30px 0;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
}

.career{
  background-color: var(--color-pale);
  margin-bottom: 10px;
}

.career .fa-location-dot{
  border: 0;
  color: var(--color-dgray);
  font-size: 10px;
}
.career .btn-circle-fe{
  height: 25px;
  width: 10px;
}
.career .fa-circle-plus{
  font-size: 2em;
}
.career span{
  font-size: 0.81em;
}

.contact .form-control, .contact .form-select{
  border: 1px solid #545454 !important;
  border-radius: 0.25rem;
  background-color: #ECE7DD;
}

.contact .btn-circle{
  font-size: 40px;
  height: 4rem;
  width: 4rem;
}

.contact .btn-fb{
  background-color: var(--color-red);
}

.contact .social-title{
  font-size: 1.5rem;
  font-weight: bold;
}

/* offcanvas */
.offcanvas-top{
    height: 60vh !important;
}
.offcanvas-body a{
    color: var(--font-color);
}
.language li a:hover{
  color: #000;
}








