/* body{
    marign:0;
    padding: 0;
} */

:root {
  --font-color: #ECE7DD;
  --color-red: #FF8300;
  --color-dgray: #242423;
  --color-gray: #545454;
  --color-pale: #dad0bc;
}
.container-fluid{
    max-width: 1300px !important;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--font-color);
}

h2, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    color: var(--color-gray);
}
a{
  text-decoration: none;
  color: var(--color-gray);
}
a:hover{
  text-decoration: none;
  color: var(--color-red);
}
p{
    font-size: 0.85rem;
    margin-bottom: 0;
}
h6 a:hover{
    color: var(--color-pale);
}
.btn-danger{
  color: var(--font-color);
  background-color: var(--color-red);
  border-color: var(--color-red);
}
.btn-danger:hover{
    background-color: #000 !important;
    border-color: #000;
}
.bg-danger{
  background-color: var(--color-red) !important;
}
.bg-background{
  background-color: var(--font-color);
  border-bottom: 1px solid #fff;;
}
.container{
    height: 6rem;
}
.d-flex-center{
  display: flex;
  justify-content: center;
}

.navScroll{
     position: fixed;
     width:100%;
     z-index: 100;
 }
  .sticky{
    top: 0;
    display: flex;
    justify-content: space-between;

  }

  .form-control{
    border-radius: 0;
  }

  #search-form{
    margin: 5px auto;
  }

  .search-input{
    background-color: transparent;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #fff;
  }
  .search-input:focus{
    outline: 0;
    background-color: transparent;
  }
  .offcanvas{
    background-color: var(--color-red);
  }

  /* home page */

  .home{
    /* height: 600px; */
    padding: 30px 0;
  }
  .small .fa-eye{
    font-size: .875rem;
    border: 0;
    color: #000;
    height: 0;
    width: 0;
    line-height: 0;
  }
  /* .site-title{
    margin-bottom: 20px;
  } */
  .feature{
    margin: 30px 0;
  }
  .feature h6 a:hover{
    color: var(--color-red);
  }
.circle{
  border: 1px solid #242423;
  background-color: transparent;
  color: #242423;
  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 12.5px;
  display: inline-block;
  font-size: 15px;
}
.current{
  background: #242423;
    position: relative;
    /*  */
    padding: 1em 0;
    z-index: -1;
}
.half{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: calc(50%);
  background: var(--color-red);
  z-index: 0;
}
.fa-calendar-days{
  text-align: center;
  color: var(--color-red);
  text-align: center;
  font-size: 1.75em;
}
.month{
  font-size: 14px;
  position: absolute;
  margin-left: -32px;
  margin-top: 18px;
  padding: 0;
  color: var(--color-red);
}
.current span{
  font-size: 10px;
}
.most{
  z-index: 1;
}
.fa-eye, .fa-comment-dots{
  text-align: center;
  color: var(--color-dgray);
  display: inline-block;
  font-size: 1.75em;
}

.category{
  background: #242423;
  color: #fff;
  /* top: 0;
  left: 0; */
  padding: 5px 10px;
  line-height: 1em;
  position: absolute;
  font-size: 0.750em;
}

.social .fa-eye, .social .fa-message{
  border: 0 !important;
  color: var(--color-dgray);
  font-size: 2rem;
}


.line {
  margin-left: -23px;
  margin-bottom: 0;
  color: #242423 !important;
}
/* .btn-circle-social .fa-comment-dots, {
  color: #242423;
  font-size: 18px;
  border: 0;
} */

/* .btn-circle {
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-circle-fe {
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #242423;
} */

/* .btn-circle-social {
  font-size: 1rem; */
  /* display: inline-flex; */
  /* align-items: center; */
  /* justify-content: center; */
/* } */
.social-sticky{
  position: fixed;
  top: 0;
}
.btn-reaction {
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nav-link{
  color: var(--font-color);
}

#top{
  color : var(--color-red);
}

.copyright{
  margin: 50px 0 0;
  color: var(--color-red);
  text-align: center;
  font-size: 13px;
}
.contact-email{
  color: var(--color-gray);
    padding: 2rem 0;
}
.contact-email span{
  font-size: 17px;
}
.opnion{
  background-color: var(--color-red);
}
.single-new span, .video span{
  color: var(--color-red);
  font-size: 14px;
}
.video h3{
  color: var(--font-color);
}
.top-one{
    background: var(--color-red);
    position: absolute;
    margin-top: -25px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.2em;
    color: #ECE7DD;
    border: 2px solid #ECE7DD;
    height: 50px;
    width: 50px;
    line-height: 42px;
    text-align: center;
    border-radius: 25px;
}
.top-one .fa-eye{
  text-align: center;
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 25px;
  display: inline-block;
  font-size: 1.75em;
}
.top{
  transition: 0.5s;
}
.top h2 a{
  color: var(--font-color) !important;
}

.top:hover{
  opacity: 0.9;

  .top span{
    color: #fff;
  }
}

.top-ten{
  background-color: var(--color-red);
  border-top: 1px solid #fc9a30;
}
.top-ten h6{
    margin-bottom: 0;
}
.top-ten h6 a:hover{
    color: var(--color-gray);
}
.top-ten .top-one{
  margin-left: 10px;
}
.ml--47{
  margin-left: -47px;
}
h6 a{
  color: #000;
}
.top-ten:hover{
  opacity: 0.9;
}
.top-ten .border-top{
    border-color: var(--color-pale) !important;
}

.description{
  background-color: var(--color-dgray);
  color: #fff;
}
.description p, .description span{
  color: #fff;
}
/* .cartoon{
    background-color: var(--color-dgray);
} */

.description .fa-eye, .cartoon .fa-eye{
    color: #fff;
    font-size: 1.5rem;
}
.cartoon .fa-eye{
    color: var(--color-dgray);
    border: 1px solid var(--color-dgray);
}

.last-photos{
  background-color: #000;
}
.last-photos h2{
  color: var(--color-gray);
}
.latest-photos{
  background-color: var(--color-dgray);
}

.video-page{
  background-color: var(--color-dgray);
}
.video-page h2 a{
  color: var(--color-red);
}
.video-page h2 a:hover{
  color: var(--color-gray);
}
.video-page p, .video-page span{
  color: var(--font-color);
}
.full-details row{
  width: auto;
}
.full-details ol, ul{
    line-height: 15px;
}

.contact .form-control, .contact .form-select{
  border: 1px solid #545454 !important;
  border-radius: 0.25rem;
  background-color: #ECE7DD;
}

/* .contact .btn-circle{
  font-size: 40px;
  height: 4rem;
  width: 4rem;
} */

.contact .social-title{
  font-size: 1.5rem;
  font-weight: bold;
}

.fa-square-twitter, .fa-linkedin{
    color: #FF8300;
    font-size: 2.5rem;
}

.contact .fa-location-dot{
    color: #FF8300;
    font-size: 2.3rem;
}
.contact .fa-phone-volume{
    color: #FF8300;
    font-size: 1.8rem;
}

/* offcanvas */
.offcanvas-top{
    height: 35vh !important;
}
.offcanvas-body a{
    color: var(--font-color);
}
.language li a:hover{
  color: #000;
}
.related h6 a:hover{
    color: var(--color-red);
}

.views .fa-eye{
    border: none;
    font-size: 17px;
    height: 0;
    width: 0;
    line-height: 0;
}

.three img{
    width: 100%;
    height: 7rem;
    object-fit: none;
}

.fa-square-facebook, .fa-square-youtube, .fa-instagram, .fa-square-twitter, .fa-linkedin{
    color: #FF8300;
    font-size: 2.5rem;
}

.footer-social .fa-square-facebook, .footer-social .fa-square-youtube, .footer-social .fa-instagram{
    color: #fff;
    font-size: 2.5rem;
}

.footer-link{
    list-style: none;
    padding-left: 0;
}

.vd-home .card{
    background-color: #000 !important;
    padding: 0;
}
.vd-home .card-body{
    color: var(--font-color);
}
.footer-top{
    border-top: 4px solid var(--color-red);
}

.cartoons h6 a{
    color: var(--font-color);
}

.cartoons h6 a:hover{
    color: var(--color-red);
}

@media only screen and (min-width: 412px){
    .container{
        height: 6rem;
    }
}

@media only screen and (max-width: 412px){
    .container{
        height: 8rem;
    }
}







